{% extends 'base.html' %}

{% block content %}
<div class="edit-book-container">
    <h2>Edit Book</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
</div>
<style>
		body
		{background-color:{% if theme == 'day' %} #fff {% else %} #333 {% endif %};
		 color: #333;
		}
	</style>
<style>
    /* Şablon stil dosyası */
    .edit-book-container {
        max-width: 600px; /* Maksimum genişlik */
        margin: 0 auto; /* Ortala */
        padding: 20px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
</style>

{% endblock %}
